:root {
    --primary-font: "Raleway", sans-serif;
    --primary-color: #00a160;
    --secondary-color: #4de35b;
    --highlight-color: #99e3d2;
    --background-color: rgba(77, 227, 91, 0.2);
    --emergency-color: #facbbe;
}

body {
    font-family: var(--primary-font);
    padding-top: 65px;
}

h2,
h3 {
    color: var(--primary-color);
}

main {
    padding-bottom: 2rem;
}

p {
    text-align: justify;
}

footer {
    background-color: var(--emergency-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 -2px 3px #3a3a3a;
}

footer > h2 {
    font-weight: bolder;
}

footer .card-title {
    font-weight: bold;
    color: red;
    text-align: center;
}

nav {
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 2px 3px #3a3a3a;
    padding-bottom: 1rem;
}

.navbar-brand {
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--primary-color);
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
    background-color: var(--background-color);
}

.card {
    margin-bottom: 1rem;
}

.carousel {
    box-shadow: 2px 2px 3px #3a3a3a;
}

.logo {
    height: 2rem;
    object-fit: scale-down;
}

.resources {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.resources .display-6 {
    padding-bottom: 1rem;
}

footer .display-6 {
    font-weight: bolder;
}
